/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Общие стили */
header {
  background: #fff;
  padding: 0px 0px 5px 0px;
  text-align: center;
  border-bottom: 2px solid #171717;
}

footer {
  background: #171717;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.logo {
  width: 300px;
  height: auto;
}

.sort-buttons {
  padding: 30px;
  text-align: center;
}

.sort-button {
  cursor: pointer;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-bottom: 50px;
}

/* Карточки каталога */
.catalog-item {
  border: 1px solid #c8ad71;
  text-align: center;
  padding-top: 1px;
  min-height: 500px;
}

.catalog-item img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.catalog-item button {
  background: grey;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.catalog-item button:hover {
  background: #c8ad71;
}

/* Модалка */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 80%;
  height: 90%;
  overflow: hidden;
}

/* Основное изображение */
.modal-main-image-container {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
}

/* Галерея изображений */
.modal-gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  width: 100%;
}

.modal-gallery img {
  width: auto;
  height: 15vh;
  cursor: pointer;
}

.modal-description {
  margin-top: 20px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #c8ad71;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
}

/* Адаптивность */
@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }

  .modal-main-image-container {
    height: 70%;
  }

  .modal-gallery {
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    height: 20%;
  }

  .modal-gallery img {
    max-width: 200px;
  }

  .catalog-item {
    border: 1px solid #c8ad71;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    min-height: 350px;
  }
}

/* Стили для скроллбара */
.modal-gallery::-webkit-scrollbar {
  height: 8px;
}

.modal-gallery::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.modal-gallery::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.modal-gallery::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Адаптивная сетка каталога */
@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(5, 1fr);
  }
}

.video-section {
  text-align: center;
  padding: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  gap: 70px; /* Расстояние между видео */
}

.video-container video {
  width: 50%; /* Установить ширину каждого видео */
  max-width: 400px; /* Ограничить максимальную ширину */
  border: 1px solid #ccc; /* Дополнительно: рамка вокруг видео */
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эстетики */
}

.footer {
  color: #fff;
  text-decoration: none;
}

.footer:hover {
  color: #c8ad71;
  text-decoration: none;
}
