/* Основные стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f1ef;
}

/* Общие стили */
header {
  background: #fff;
  padding: 0px 0px 5px 0px;
  text-align: center;
  border-bottom: 2px solid #30222d;
}

footer {
  background: #30222d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.logo {
  width: 300px;
  height: auto;
}

.sort-buttons {
  padding: 30px;
  text-align: center;
}

.sort-button {
  cursor: pointer;
  padding: 5px 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Карточки каталога */
.catalog-item {
  border: 1px solid #30222d;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 400px; /* Все блоки одинаковой высоты */
  overflow: hidden; /* Чтобы ничего не выходило за границы */
}

.catalog-item img {
  width: 100%; /* Растягиваем на всю ширину */
  height: calc(
    100% - 35px
  ); /* Оставляем место под кнопку (40px кнопка + 1px расстояние) */
  object-fit: cover; /* Обрезаем лишнее, сохраняя пропорции */
  object-position: center; /* Центруем изображение внутри контейнера */
}

.catalog-item button {
  background: #30222d;
  color: white;
  border: none;
  padding: 10px;
  width: 100%; /* Занимает всю ширину блока */
  cursor: pointer;
  margin-top: 1px; /* Расстояние между картинкой и кнопкой */
}

.catalog-item button:hover {
  background: rgba(47, 32, 44, 0.735);
}

/* Модалка */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #f7f1ef;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Основное изображение */
.modal-main-image-container {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease; /* Для плавности зума */
  touch-action: none;
}

/* Галерея изображений */
/* .modal-gallery {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  width: 100%;
} */
.modal-gallery {
  display: flex;
  justify-content: center; /* Центрируем галерею */
  gap: 5px; /* Расстояние между изображениями */
  flex-wrap: wrap; /* Перенос изображений на новую строку, если не помещаются */
  padding: 5px 0; /* Отступы сверху и снизу */
}

/* .modal-gallery img {
  width: auto;
  height: 15vh;
  cursor: pointer;
} */
.modal-gallery img {
  width: auto;
  height: 5vh; /* Высота миниатюр */
  cursor: pointer;
  object-fit: contain; /* Сохраняем пропорции изображений */
}

.modal-description {
  margin-top: 10px;
}

.modal-close {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
  cursor: pointer;
  background: grey;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
}

/* Адаптивность */
@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }

  .modal-main-image-container {
    height: 70%;
  }

  .modal-gallery {
    flex-direction: row;
    overflow-x: auto;
    gap: 10px;
    height: 20%;
  }

  .modal-gallery img {
    max-width: 200px;
  }
}

/* Стили для скроллбара */
/* .modal-gallery::-webkit-scrollbar {
  height: 8px;
}

.modal-gallery::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.modal-gallery::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.modal-gallery::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Адаптивная сетка каталога */
@media (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(5, 1fr);
  }
}

.video-section {
  text-align: center;
  padding: 20px;
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  text-align: center;
  align-items: center;
}

.video-container video {
  width: 100%; /* Установить ширину каждого видео */
  max-width: 400px; /* Ограничить максимальную ширину */
  border: 1px solid #ccc; /* Дополнительно: рамка вокруг видео */
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для эстетики */
}

.footer {
  color: #fff;
  text-decoration: none;
}

.footer:hover {
  color: #c8ad71;
  text-decoration: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #000;
  border: none;
  border-radius: 50%;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.arrow:hover {
  background: grey;
  color: #fff;
}
